/* global rules */
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box ;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
:root{
    --main-color:#2ccdfa;
    --transport-layer:rgb(15 116 143 / 70%);
    --main-padding:6.25rem;
    --secondry-color:#777;
}
html{
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior:smooth ;
    -o-scroll-behavior:smooth;
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* background-color: black; */
}


.container{
    
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    
}

/* small */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width:992px){
    .container{
        width: 960px;
    } 
}
/* large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    } 
}


/* end global rules */
/* start components */
.main-text{
    text-align: center;
    margin-bottom: 3.2rem;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
}
.main-text::before{
    content: "";
    width: 10%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
}
.main-text::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: -68%;
    transform: translateX(-50%);
    z-index: 55;
}
.main-text +p{
    text-align: center;
    max-width: 550px;
    line-height: 1.8;
    font-size: .9rem;
    opacity: 50%;
    margin: 0 auto 100px;
}
/* end components */

/* start header */
header{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 99.13px;
}
header .container::after{
    content: "";
    background-color: #8E8285;
    min-width: calc(100% - 2rem);
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 1rem;
    z-index: -1;
   
}
header a img{
    min-height: 40px;
}
header nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .toggle-menu{
    color: white;
    font-size: 24px;
}
@media(min-width:768px){
    header nav .toggle-menu{
        opacity: 0;
    }
}
header nav ul{
    display: flex;
    justify-content: space-between;
}

@media(max-width:768px){
    header nav ul{
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0 0 0 / 15%);
        padding: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 24;
    }
 
}
header nav ul a{
    display: block;
    font-size: 1rem;
    padding: 2.5rem .7rem;
    color: white;
    text-decoration: none;

}
header nav ul a:hover,
header nav ul a.active{
    color: var(--main-color);
    border-bottom:1px solid var(--main-color);
   
}

@media (max-width: 768px){
header nav ul a {
   padding: .7rem;
}
}
header .form{
    color: white;
    width: 40px;
    font-size: 1.5rem;
    border-left: 1px solid whitesmoke;
    align-self: center;
    padding-left:1rem ;
    margin-left: 1.3rem;
   position: relative;
}
/* end header */
/* start landing */
.landing{
    background-image: url('../images/landing.jpg');
    background-size: cover;
    min-height: 100vh;
    position:relativ;
}
.landing .overlay{
    background-color: rgba(0 0 0 / 60%);
    height: 100vh;
}
.landing .overlay{
    display: flex;
    align-items: center;
}
.landing .overlay .intro-text{
    width: 50%;
    padding:3.2rem;
    background-color: var(--transport-layer);
    color: white;
    display: flex;
    justify-content: flex-end;

}
.landing .intro-text .content{
    max-width: 95%;
}
@media (max-width:768px){
    .landing .overlay .intro-text{
        width: 100%;
    }
    .landing .intro-text .content{
        max-width: 100%;
    }
}

.landing .intro-text .content h2{
    line-height: 1.5;
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 1rem;
}
.landing .intro-text .content p{
    line-height: 1.5;
    font-weight: 300;
    font-size: .9rem;
    padding-bottom: 1.5rem;

}

.landing .arrwo{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    color: white;
}
.landing .right{
    right: 1.8rem;
}
.landing .left{
    left: 1.8rem;
}
.landing .bullts {
    position: absolute;
    left: 50%;
    bottom: 1.2rem;
    transform: translateX(-50%);
    display: flex;
}
.landing .bullts li{
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
}
.landing .bullts li.active{
    background-color: var(--main-color);
    border: none;
}
/* end landing */
/* start Services */
.services{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    /* background-color: tomato; */

}
.services .service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(max-width:992px){
    .services .service{
        flex-direction: column;
      
    }
   
}
.services .service .serv{
    flex-basis: 45%;
    display: flex;
    margin-bottom: 2.5rem;
}
@media(max-width:767px){
    .services .service .serv{
        flex-direction: column;
        text-align: center;
    }
   
}
.services .service .serv i{
    margin-right: 2rem;
}
@media(max-width:767px){
    .services .service .serv i{
        margin-right:0;
        margin-bottom: 1rem;
    
    }
   
}
.services .service .serv h3{
    margin-bottom: 1.8rem;
}
/* end Services */
/* start design */
.design{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url("../images/design-features.jpg");
    height: 600px;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0 0 0 / 60%);
}
@media(max-width:768px){
    .design .img{
        display: none;
    }
}
.design .img,
.design .intro-text{
    position: relative;
    flex: 1;
    z-index: 2;
    
}
.design .img{
   text-align: center;
   
}
.design .img{
    position: relative;
    bottom: -150px;
}
.design .intro-text{
    color: white;
    width: 50%;
    padding:3.2rem;
    background-color: var(--transport-layer);
    color: white;
}
.design .intro-text h2{
    margin-bottom: 2.5rem;
    font-weight: normal;
    text-transform: uppercase;
}
.design .intro-text ul li{
    padding: 1.3rem;
}
.design .intro-text ul li::before{
    font-family: 'font awesome 5 free';
    content: '\f005';
    font-weight: 900;
    margin-right: 1rem;
}
/* end design */
/* start  PORTFOLIO*/
.portfolo{
    padding-bottom: calc(var(--main-padding));

}
.portfolo .container{
    padding-top: var(--main-padding);
    padding-bottom: calc(var(--main-padding) - 60px );

}
.portfolo .shuffle{
    display: flex;
    justify-content: center;
}
.portfolo .shuffle li{
    padding: .6rem;
    text-transform: capitalize;
}
.portfolo .shuffle li.active{
    background-color: var(--main-color);
    color: white;
}
.portfolo .img-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
   
}
@media(max-width: 768px){
    .portfolo .img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }
}
.portfolo .img-container img{
    max-width: 100%;
    transition: .3s;
}
.portfolo .img-container .box:hover  img{
    transform: rotate(3deg)  scale(1.1)
}
.portfolo .img-container .box{
    position: relative;
    overflow: hidden;
}
.portfolo .img-container .caption{
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 1.2rem;
    width: 100%;
    font-weight: normal;
    transition:.3s;

}
.portfolo .img-container .box:hover .caption{
    bottom: 0;
}

.portfolo .img-container .caption h4{
    margin-bottom: .6rem;
}
.portfolo .img-container .caption p{
    color: var(--main-color);
}
.portfolo a{
    background-color: var(--main-color);
   display: block;
   width: fit-content;
   margin: 30px auto;
   padding: 15px 20px;
   color: white;
   text-transform: capitalize;
   text-decoration: none;

}
/* end PORTFOLIO */
/* start video */
.video{

    position: relative;
}
.video .media{
    max-width: 100%;
}
.video::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0 0 0 / 40%);
}
.video .text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    width: 100%;
    padding:3.25rem;
    background-color: var(--transport-layer);
    color: white;
    text-align: center;
    z-index: 999;

}
@media (max-width:768px) {
    .video .text{
        height: 50%;
        padding:2.25rem;
    }
    
}
.video .text h2{
    font-size: 2rem;
    margin-bottom: 1.9rem;
    font-weight: normal;
}
.video .text p{
    font-size: 1rem;
    margin-bottom:1.9rem ;
}
.video .text a{
    background-color:black;
    display: block;
    width: fit-content;
    margin: 30px auto;
    padding: 15px 25px;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.3rem;
}
@media (max-width:768px) {
    .video .text h2{
        font-size: 1rem;
    margin-bottom: 0.4rem;
    }
    .video .text p{
        font-size: .5rem;
        margin-bottom:0.9rem ;
    }
    .video .text a{
        font-size:.45rem ;
        margin:  auto;
       padding: .36rem .78rem;
    }
}
/* end video */
/* start about */
.about{
    padding-top: var(--main-padding);
    position: relative;
    overflow: hidden;
}
.about img{
    position: relative;
    margin-top: -120px;
    transform: translateX(-50%);
    bottom: -120px;
    left: 50%;
    max-width: 100%;
}
@media(max-width:768px){
    .about img{
        bottom: -60px;
       margin-top: -60px;
    }
}

/* end about */
/* start state */
.state{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url('../images/stats.png');
    background-size: cover;
    position: relative;
}
.state::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0 0 0 / 70%);
    

}
.state .container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: var(--transport-layer);
    z-index: 999999;
}
.state .box{
    padding: 3.13rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
@media (max-width:768px){
    .state .box{
        flex-basis: 100%;
    }
}
/* medium */
@media (min-width:769px){
    .state .box{
        flex-basis: 50%;
    }
}
@media (min-width:1200px){
    .state .box{
        flex-basis: 25%;
    }
}
.state .box i{
    width: 40px;
    height: 40px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    color: white;
    margin-bottom: 1.4rem;
}
.state .box div{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.4rem;
}
.state .box p{
    color: white;
    font-size:.87rem ;

}
/* end  state */
/* start  skills */
.our-skills{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
@media(min-width:992px){
    .our-skills .container{
        display: flex;
        flex-wrap:wrap ;
        justify-content: space-between;
    }
    .our-skills .container >div{
        flex-basis: 45%;
    }
}
.our-skills .container >div >h3{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: normal;
    text-transform: uppercase;
}
.our-skills .container >div >p{
    color: var(--secondry-color);
    line-height: 1.8;
    margin-bottom: 3.79rem;
    text-align: center;
}
.our-skills .container .testmonials {
    position: relative;
}
.our-skills .container .testmonials .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.our-skills .testmonials .box img{
    width: 100px;
    border-radius: 50%;
    margin-right: 2rem;
}
@media(max-width:767px){
    .our-skills .container .testmonials .box{
        flex-direction: column;
        text-align: center;
    }
    .our-skills .testmonials .box img{
        margin-bottom: 2rem;
    }
}
.our-skills .testmonials .box .text {
    line-height: 2;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.our-skills .testmonials .box .text p{
    color: var(--secondry-color);
    text-align: right;
    font-size: .8rem;
    margin-bottom: 1rem;
  
    
}
.our-skills .testmonials ul{
    /* position: absolute; */
    display: flex;
    justify-content:center;
    align-items: center;
}
.our-skills .testmonials ul li{
    min-height: 12px;
    min-width: 12px;
    border: 1px solid;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 2.88rem;
}
.our-skills .testmonials ul li.active{
   background-color: var(--main-color);
   border-color: var(--main-color);
}
.our-skills .skills .prog-holder{
    margin-bottom: 2.8rem;
}
.our-skills .skills .prog-holder h4{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.our-skills .skills .prog-holder div{
    background-color: #ddd;
    width: 100%;
    height: 2rem;
}
.our-skills .skills .prog-holder div>span{
    display: block;
    background-color: var(--main-color);
    height: 2rem;
    position: relative;
}
.our-skills .skills .prog-holder div>span::before{
    content: attr(data-progras);
    position: absolute;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 2px;
    right: 0;
    top: -35px;
}
.our-skills .skills .prog-holder div>span::after{
    content: "";
    position: absolute;
    border: 8px solid;
    right: 4px;
    top: -13px;
    border-color: black transparent transparent transparent;
}
/* end  skills */
/* start quote */
.quote{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url('../images/quote.jpg');
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
    font-weight: normal;
}
.quote::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0 0 0 / 70%);
}
.quote .container{
   position: relative;
}
.quote .container q{
    font-size: 2rem;
    font-weight: normal;
    text-align: center;


}
q::before{
    font-family: 'font awesome 5 free';
    content: "\f10d";
    font-weight: 900;
    padding: 10px;

}
q::after{
    font-family: 'font awesome 5 free';
    content: "\f10e";
    font-weight: 900;
    padding: 10px;

}
.quote span{
    display: block;
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center;
}
/* end quote */
/* start pricing */
.pricing{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.pricing .container .planes{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
    text-align: center;
}
.pricing .planes .plane {
    box-shadow: 0 0 0 black;
    background-color: #fcfcfc;
}
.pricing .planes .plane .title{
    border-top:1px solid var(--main-color) ;
    border-bottom:1px solid var(--main-color) ;
    padding: 2.5rem 1.1rem;


}
.pricing .plane .title h3{
    font-size: 1.1rem;
    padding: 1rem;
    text-transform: uppercase;
}
.pricing .plane .title span{
    font-size: 3.8rem;
    font-weight: bold;
    position: relative;

}
.pricing .plane .title span::before{
    content: attr(data-curancy);
    font-size: 1.5rem;
    font-weight: normal;
    position: absolute;
    top: -5px;
    left: -20px;

}
.pricing .plane .title span::after{
    content: "/Mo";
    font-size: 1.5rem;
    font-weight: normal;
    position: absolute;
    bottom: -5px;
    right: -45px;

}
.pricing .plane ul{
    padding:1rem;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 2rem;

}
.pricing .plane ul li{
    padding: 20px;
    position: relative;
    
}
.pricing .plane ul li:not(:last-child)::after{
    content: "";
    border-top: 1px solid var(--main-color);
    width: 150px;
    height: 20px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
   
}
.pricing .plane a{
    display: block;
    width: fit-content;
    margin: 2rem auto;
    text-decoration: none;
    color: black;
    padding: 1rem;
    border: 1px solid var(--main-color);
    text-transform: capitalize;
    transition: .2s;
}
.pricing .plane a:hover{
    background-color: var(--main-color);
    color: whitesmoke;
}
.pricing .contact{
    text-align: center;
    margin: 3.7rem 0 1rem;
    font-size: 1.2rem;
    
}

.pricing .contact + a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding: 1rem 1.9rem;
    width: fit-content;
    margin: auto;
    background-color: var(--main-color);
}
/* end pricing */
/* start Subscribe */
.subscribe{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url('../images/subscribe.jpg');
    background-size: cover;
    position: relative;
}
.subscribe::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 40%);
    position: absolute;
    left: 0;
    top: 0;
}
.subscribe .container{
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 7777;
}
@media(max-width:767px){
    .subscribe .container{
        flex-direction: column;
     
    }
}
.subscribe form{
    display: flex;
    width: 500px;
    max-width: 100%;
    position: relative;
}
.subscribe form i{
    position: absolute;
    top: 50%;
    left: 11px;
    transform: translateY(50%);
}
.subscribe form input[type="email"]{
    padding: 1.1rem 1.1rem 1.1rem 3rem;
    background: none;
    border: 1px solid white;
    border-right: none;
    width: calc(100% - 130px);
    caret-color: var(--main-color);
    color: white;

}
.subscribe form input[type="email"]:focus{
    outline: none;
}
.subscribe form input[type="email"]::placeholder{
    color: white;
    opacity: 1;
}

.subscribe form input[type="submit"]{
    width: 130px;
    padding: 12px;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-left: none;

}
.subscribe p{
    line-height: 2;
    margin-left:3rem ;
}
@media(max-width:767px){
    .subscribe p{
        
        margin-top:1.5rem ;
    }
}
/* end Subscribe */
/* start Contact-Us */
.contact-us{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);

}
.contact-us .container .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media(max-width:768px){
.contact-us .container .content{
    flex-direction: column-reverse;
    text-align: center;
}
}
.contact-us .container .content form{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    position: relative;
}
.contact-us .content form input
,.contact-us .content form textarea{
    padding: 1.25rem ;
    margin-bottom: 1.875rem;
    border: 1px solid #3333;
}
.contact-us .content form textarea{
    height: 200px;
}
.contact-us .content form input:focus
,.contact-us .content form textarea:focus{
    outline: none;

}
.contact-us .content form input::placeholder
,.contact-us .content form textarea::placeholder{
    opacity: 1;
    text-transform: capitalize;

}
.contact-us .content form input[type="submit"]{
    width: fit-content;
    display: flex;
    margin-left: auto;
    background-color: var(--main-color);
    color: white;
    border: none;
}

.contact-us .container .content .text{
    flex-basis: 15%;
}
.contact-us .container .content .text h4{
    font-size:1.25rem ;
    font-weight: normal;
    margin-bottom: 1.1rem;
}
.contact-us .container .content .text span{
    display: block;
    color: var(--secondry-color);
    margin-bottom: 1rem;
}
.contact-us .container .content .text h4:nth-of-type(2){
    margin-top: 5.6rem;
    margin-bottom: 1.9rem;
}
@media(max-width:767px){
    .contact-us .container .content .text h4:nth-of-type(2){
        margin-top: 2.0rem;
        margin-bottom: 1.9rem;
    } 
}
.contact-us .content address{
    line-height: 1.8;
    color: var(--secondry-color);
}
@media(max-width:768px){
    .contact-us .content address{
        margin-bottom: 2.5rem;
    }
}
/* end Contact-Us */
/* start footer */
footer{
    padding-top: calc(var(--main-padding) / 2);
    padding-bottom: calc(var(--main-padding) / 2);
    background-image: url('../images/subscribe.jpg');
    background-size: cover;
    position: relative;
}
footer::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 60%);
    position: absolute;
    top: 0;
    left: 0;
}
footer .container{
    position: relative;
    color: white;
    z-index: 999;
    text-align: center;
}
footer .head{
    padding: 20px;
    margin: 30px auto;
    width: fit-content;
    font-size: 22px;
    border-bottom:1px solid white ;
    text-transform: uppercase;

}
footer ul{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}
footer ul li{
    margin-left: 20px;
}
footer .copy{
    text-transform: capitalize;
}
footer .copy span{
    color: var(--main-color);
}
/* end footer */
